/* Font Setup */

@font-face {
    font-family: 'mainFont';
    src: url('../font/mainFont.woff') format('woff2'),
         url('../font/mainFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}