/* Global Varbiables */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

html {
    background-color: var(--principal);
}

html, body {
    font-family: var(--mainFont);
    letter-spacing: 3px;
    font-weight: lighter;
}

html.sr .load-hidden {
    visibility: hidden;
}

img {
    max-width: 100%;
}



* {
    margin: 0;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
}