/* Media Querys */

@media (max-width:1660px) {
    .tarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: -10%;
        row-gap: 50px;
    }

    .tarjetas .tarjeta{
        justify-self: center;
        align-self: center;
    }

}

@media (max-width: 1366px) {
    .intro-text h2 {
        font-size: 40px;
    }

    .link-learnMore,
    .link-whitepaper {
        padding: 12px 22px;
        font-size: 16px;
    }

    .link-whitepaper:hover,
    .link-learnMore:hover {
        border-width: 4px;
    }

    .info {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .lore h3 {
        font-size: 80px;
    }
    .lore p {
        font-size: 32px;
    }
}

@media (max-width: 1200px) {
    .fondo-header {
        height: auto;
    }

    .header {
        flex-direction: column;
    }
    .header h1 {
        margin-bottom: 40px;
    }

    .navegacion {
        width: auto;
        padding-bottom: 20px;
    }

    .intro-text {
        height: 85vh;
    }

    .intro-text h2 {
        font-size: 34px;
    }

}

@media (max-width: 1024px) {
    .intro-text h2 {
        font-size: 24px;
    }

    .link-learnMore,
    .link-whitepaper {
        padding: 10px 20px;
        font-size: 14px;
    }

    .link-whitepaper:hover,
    .link-learnMore:hover {
        border-width: 3px;
    }

    .lore h3 {
        font-size: 60px;
    }

    .lore p {
        font-size: 28px;
    }

}

@media (max-width: 768px) {

    .intro-text h2 {
        width: 80%;
        overflow-wrap: break-word;
        text-align: center;
    }

    .content {
        text-align: center;
    }

    .content p{
        text-align: center;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
    }

    .tarjeta {
        margin-bottom: 40px;
    }

    .tarjeta:nth-last-child() {
        margin-bottom: 0;
    }

    .division {
        padding-bottom: 0;
    }

    .tokenomics h3 {
        font-size: 60px;
    }

    .columns {
        flex-direction: column;
    }

    .divisions {
        width: 100%;
    }

    .ultimo {
        margin-bottom: 80px;
    }
}

@media (max-width: 600px) {
    .navegacion {
        flex-direction: column;
    }
    .navegacion a {
        margin: 20px 0;
    }
    .footer {
        flex-direction: column-reverse;
        height: auto;
    }
}