/* Header */
.encabezado {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fondo-header {
    background-image: var(--bg-principal);
    height: auto;
    padding: 10px 0;
    position: fixed;
    transform: translate(0, 0);
    width: 100%;
    z-index: 100;
}

.header a {
    text-decoration: none;
    color: var(--secundario);
    text-align: center;
}

.header {
    font-family: 'mainFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secundario);
    height: auto;
    font-size: 24px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.header img {
    width: 24vmin;
}

.header a {
    max-width: 40vmin;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    width: auto;
    
}

.navegacion a{
    position: relative;
    text-decoration: none;
    color: var(--secundario);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: var(--mainFont);
    transition: .2s;
    margin-right: 40px;
    padding: 0 20px;
    cursor: pointer;
}
.navegacion a:last-of-type{
    margin-right: 0;
}

.navegacion a:after {
    content: "";
    position: absolute;
    background-image: var(--bg-secundario);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navegacion a:hover{
    color: var(--terciario);
    transition: .5s;
}

.navegacion a:hover::after {
    width: 100%;
    transition: 0.3s;
    left: 0;
    bottom: -10px;
    color: var(--terciario);
}

.hamburguer {
    background-color: transparent;
    border: 0;
    color: var(--terciario);
    cursor: pointer;
    font-size: 20px;
    display: none;
}
.hamburguer:focus {
    outline: none;
}



/* Intro Text */
.intro-text {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: url("../img/fondo.gif") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.intro-text h2 {
    letter-spacing: 4px;
    font-family: var(--mainFont);
    font-weight: lighter;
    font-size: 60px;
    color: var(--secundario);
    margin-bottom: 80px;
}

.intro-text a:hover {
    color: var(--terciario);
}

.link-learnMore{
    color:var(--secundario);
    text-decoration: none;
    background-image: var(--bg-principal);
    transition: .2;
    padding: 15px 25px;
    font-size: 2vmin;
    font-weight: lighter;
    border: var(--secundario) 0px solid;
    margin-bottom: 40px;
    width: 20vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link-learnMore:hover {
    border: var(--secundario) 5px solid;
    transition: .3s;
}


.link-whitepaper{
    color:var(--principal);
    text-decoration: none;
    background-image: var(--bg-secundario);
    transition: .2;
    padding: 15px 25px;
    font-size: 2vmin;
    font-weight: lighter;
    border: var(--secundario) 0px solid;
    width: 20vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link-whitepaper:hover {
    border: var(--principal) 5px solid;
    transition: .3s;
}

/* Info */
.relative {
    position: relative;
    background-image: var(--bg-principal);
}

.info {
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.info h3 {
    color: var(--secundario);
    font-size: 64px;
}

.info p{
    color: var(--terciario);
    font-size: 24px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse h3 {
    color: var(--principal);
}

.reverse p {
    color: var(--terciario);
}


/* Lore */
.lore {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: var(--bg-secundario);
    overflow: hidden;
}

.lore h3{
    font-size: 100px;
    color: var(--terciario);
    font-family: var(--mainFont);
    font-weight: lighter;
    margin-top: 50px;
}

.lore p{
    color: var(--principal);
    font-size: 35px;
    font-family: var(--mainFont);
    letter-spacing: 1px;
    text-align: justify;
    font-weight: lighter;
}



/* Assets */
.seccion-assets {
    background-image: var(--bg-principal);
    min-height: 100vh;
}

.division {
    padding-bottom: 150px;
}

.division h4{
    text-align: center;
    color: var(--terciario);
    font-size: 50px;
    font-family: var(--mainFont);
}

.assets {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.assets h3 {
    font-size: 80px;
    color: var(--terciario);
    font-family: var(--mainFont);
    font-weight: lighter;
    margin: 50px;
    text-align: center;
    letter-spacing: 10px;
}

.assets img {
    max-width: 100%;
    height: auto;
}



/* Tokenomics */

.tokenomics {
    min-height: 100vh;
    background-image: var(--bg-secundario);
}

.tokenomics h3 {
    font-size: 8vmin;
    color: var(--terciario);
    font-family: var(--mainFont);
    font-weight: lighter;
    padding: 100px 0 6% 0;
    text-align: center;
    letter-spacing: 10px;
}

.divisions {
    width: 45%;
}

.tokenomics .columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
}

.progress-info h4 {
    margin: 0;
    font-size: 30px;
    opacity: 0;
    font-weight: lighter;
    animation: showText 0.5s 1.5s linear forwards;
    color: var(--principal);
}

@keyframes showText {
    100% {
        opacity: 100%;
    }
}

.progress {
    background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 100%;
}

.progress-done {
    background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
    font-size: 16px;

    transform: scaleX(0);
    transform-origin: left;
    animation: fillBar 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes fillBar {
    100% {
        transform: scaleX(1);
    }
}


/* Presale */
 
.presale, .whitelist {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.parent {
    position: relative;
    height: 100vh;
    background: url(../img/fondo.gif) repeat fixed 100%;
    background-size: cover;
}

.bg {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.presale, .whitelist {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.whitelist {
    justify-content: center;
}

.presale h3, .whitelist h3 {
    text-align: center;
    color: var(--secundario);
    font-size: 8vmin;
    letter-spacing: 1vmin;
    font-weight: lighter;
}

.whitelist h3 {
    margin-bottom: 10rem;
}

.presale a, .whitelist a {
    color: var(--terciario);
}

.presale h4, .whitelist h4 {
    text-align: center;
    color: var(--secundario);
    font-size: 3vmin;
    letter-spacing: 1vmin;
    font-weight: lighter;
}

/* Seccion Team */
.seccion-team {
    min-height: 100vh;
}

/* Input */
.ico-information h4, .whitelist-information h4 {
    margin-bottom: 2vmin;
}

.input-group {
    width: 40%;
}

.input-group label {
    color: var(--terciario);
}

.ico-input-amount {
    background: none;
    border: 2px solid var(--input-color);
    border-radius: .3rem;
    font-family: 'mainFont';
    font-weight: lighter;
    font-size: 2.5vmin;
    letter-spacing: 3px;
    color: var(--terciario);
    outline: none;
    padding: .75rem;
    width: 100%;
    
}

.ico-input-amount:hover {
    border-color: var(--secundario);
    color: var(--secundario);
}

.ico-input-amount:focus {
    border-color: var(--secundario);
    color: var(--secundario);
}

/* Team */
.team-block {
    background-image: var(--bg-principal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-block h3 {
    font-size: 4rem;
    margin: 4rem 0;
    color: var(--secundario);
    width: 100%;
    text-align: center;
}

.team-block p {
    font-size: 1.2rem;
    width: 80%;
    color: white;
    text-align: center;
}

.team-block-info {
    margin-bottom: 6vmin;
}

.team-block-info .inner-box img {
    max-width: 100%;
}

.team-block-info .inner-box h4 {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
    color: var(--secundario);
}


.team-block-info p {
    font-size: 0.8rem;
    width: 80%;
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
}



/* Footer */

.fondo-footer {
    background-image: var(--bg-principal);
    height: 5fvh;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-direction: row-reverse;
}

.footer img{
    width: 30vmin;
}