/* VARIABLES */
:root {
    /* --principal: #222222; */
    --principal: #0c0d20;
    --secundario: #ffb951;
    --terciario: #dfdfdf;


    --common: #616161;
    --uncommon: #4bafbd;
    --rare: #dd2a2a;
    --legendary: #f1e423;

    --tarjetas: #ffb34dcc;

    --mainFont: 'mainFont', sans-serif;
}


@font-face {
    font-family: 'mainFont';
    src: url('../font/mainFont.woff') format('woff2'),
         url('../font/mainFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Global */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

html {
    background-color: var(--principal);
}

html, body {
    font-family: var(--mainFont);
    letter-spacing: 3px;
}



/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--principal), var(--terciario));
    border-radius: 6px;
}



/* Utilities */
.contenedor {
    max-width: 80%;
    margin: 0 auto;
}

.shadowing {
    text-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.5);
}

.box-shadowing {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}





/* Header */
.fondo-header {
    background-color: var(--principal);
    height: 8vh;
}

.header a {
    text-decoration: none;
    color: var(--secundario);
}

.header {
    font-family: 'mainFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secundario);
    height: 8vh;
    font-size: 18px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    width: 45%;
    
}

.navegacion a{
    position: relative;
    text-decoration: none;
    color: var(--secundario);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: var(--mainFont);
    transition: .2s;
    margin-right: 40px;
    padding: 0 20px;
}
.navegacion a:last-of-type{
    margin-right: 0;
}

.navegacion a:after {
    content: "";
    position: absolute;
    background-color: var(--secundario);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navegacion a:hover{
    color: var(--terciario);
    transition: .5s;
}

.navegacion a:hover::after {
    width: 100%;
    transition: 0.3s;
    left: 0;
    bottom: -10px;
    color: var(--terciario);
}



/* Intro Text */
.intro-text {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.intro-text img{
    height: 92vh;
    max-width: 100%;
    min-width: 100%;
}

.intro-text h2 {
    position: absolute ;
    bottom: 45%;
    letter-spacing: 4px;
    font-family: var(--mainFont);
    font-weight: 900;
    font-size: 50px;
    color: var(--secundario);
    z-index: 100;
}

.link-learnMore{
    position: absolute;
    bottom: 40%;
    color:var(--secundario);
    text-decoration: none;
    background-color: var(--principal);
    transition: .2;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border: var(--secundario) 0px solid;
}
.link-learnMore:hover {
    border: var(--secundario) 5px solid;
    transition: .3s;
}


.link-whitepaper{
    position: absolute;
    bottom: 32.5%;
    color:var(--principal);
    text-decoration: none;
    background-color: var(--secundario);
    transition: .2;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border: var(--secundario) 0px solid;
}
.link-whitepaper:hover {
    border: var(--principal) 5px solid;
    transition: .3s;
}



/* Lore */
.lore {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--secundario);
    overflow: hidden;
}

.lore h3{
    font-size: 100px;
    color: var(--terciario);
    font-family: var(--mainFont);
    font-weight: bold;
    margin-top: 50px;
}

.lore p{
    color: var(--quinto);
    font-size: 35px;
    font-family: var(--mainFont);
    letter-spacing: 1px;
    text-align: justify;
}



/* Assets */
.seccion-assets {
    background-color: var(--principal);
    height: 100vh;
}

.division {
    padding-bottom: 150px;
}

.division h5{
    text-align: center;
    color: var(--terciario);
    font-size: 50px;
    font-family: var(--mainFont);
}

.assets {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.assets h4 {
    font-size: 80px;
    color: var(--terciario);
    font-family: var(--mainFont);
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
    letter-spacing: 10px;
}

.assets img {
    max-width: 100%;
    height: auto;
}



/* Card */
.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    position: relative;
    width: 320px;
    height: 550px;
    background-color: var(--secundario);
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
    transform-style: preserve-3d;
}
.tarjeta:hover {
    transition: .3s;
}


.tarjeta p{
    font-family: var(--mainFont);
    color: var(--quinto);
    font-size: 24px;
    transition: .3s;
    background-color: transparent;
    text-align: center;
    letter-spacing: 4px;
}
.tarjeta:hover p {
    color: var(--cuarto);
    transition: .3s;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
}

.tarjeta .contentBx {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1.2s;
    z-index: 10;
}
.tarjeta .contentBx h5 {
    position: relative;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--cuarto);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tarjeta:hover .contentBx {
    height: 210px;
    bottom: 15%;
}

.tarjeta .contentBx h5,
.tarjeta .contentBx p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.tarjeta:hover .contentBx h5 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.tarjeta:hover .contentBx p {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.tarjeta:hover .contentBx {
    height: 210px;
    bottom: 15%;
}


.imgBx {
    position: absolute;
    top: 55%;
    transform: translateY(-45%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 1s;
}
.tarjeta:hover .imgBx {
    top: 5%;
    transform: translateY(0%);
}

.tarjeta .common{
    color: var(--common);
}
.tarjeta:hover .common {
    color: var(--common);
}

.tarjeta .uncommon{
    color: var(--uncommon);
}
.tarjeta:hover .uncommon {
    color: var(--uncommon);
}

.tarjeta .rare{
    color: var(--rare);
}
.tarjeta:hover .rare {
    color: var(--rare);
}

.tarjeta .legendary{
    color: var(--legendary);
}
.tarjeta:hover .legendary {
    color: var(--legendary);
}



/* Footer */

.fondo-footer {
    background-color: black;
}