/* VARIABLES */
:root {
    --quinto: #85BB65;
    --gris: #323232;
    --blanco: #EDEADB;

    --primero: #75dddd;
    --segundo: #508991;
    --tercero: #172a3a;
    --cuarto: #004346;
    --quinto: #b3ffb3;
}



/* Global */
html {
    background-color: var(--tercero);
}



/* Utilities */
.contenedor {
    max-width: 80%;
    margin: 0 auto;
}

.shadowing {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.box-shadowing {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}



/* Header */
.fondo-header {
    background-color: var(--tercero);
}
.fondo-header::after {      /* Horizontal Line */
    display: flex;
    content: "";
    border-top: .2rem solid var(--quinto);
    width: 95%;
    margin: 15px auto;
    transform: translateY(-1rem);
}

.header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
    height: 10vh;
    font-size: 20px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    width: 40%;
    
}

.navegacion a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
    transition: .2s;
}
.navegacion a:hover{
    transition: .3s;
    color: var(--quinto);
}



/* Intro Text */
.intro-text {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.intro-text h2 {
    letter-spacing: 4px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--quinto);
}



/* Lore */
.lore {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--gris);
}

.lore h3{
    font-size: 100px;
    color: var(--blanco);
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.lore p{
    color: var(--quinto);
    font-size: 35px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}



/* Assets */
.seccion-assets {
    background-color: var(--tercero);
}

.division {
    padding-bottom: 150px;
}

.division h5{
    text-align: center;
    color: var(--quinto);
    font-size: 50px;
    font-family: sans-serif;
}

.assets {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.assets h4 {
    font-size: 60px;
    color: var(--blanco);
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.assets img {
    max-width: 100%;
    height: auto;
}



/* Card */
.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    position: relative;
    width: 320px;
    height: 550px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
}
.tarjeta:hover {
    background-color: var(--quinto);
    transition: .3s;
}


.tarjeta p{
    font-family: sans-serif;
    color: var(--quinto);
    font-size: 20px;
    transition: .3s;
    background-color: transparent;
    text-align: center;
}
.tarjeta:hover p {
    color: var(--cuarto);
    transition: .3s;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
}

.tarjeta .contentBx {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1.2s;
    z-index: 10;
}
.tarjeta .contentBx h5 {
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--cuarto);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tarjeta:hover .contentBx {
    height: 210px;
    bottom: 15%;
}

.tarjeta .contentBx h5,
.tarjeta .contentBx p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.tarjeta:hover .contentBx h5 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.tarjeta:hover .contentBx p {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.tarjeta:hover .contentBx {
    height: 210px;
    bottom: 15%;
}


.imgBx {
    position: absolute;
    top: 55%;
    transform: translateY(-45%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 1s;
}
.tarjeta:hover .imgBx {
    top: 5%;
    transform: translateY(0%);
    
}