/* Variables */

:root {
    /* --principal: #222222; */
    --principal: #2ea167;
    --secundario: rgb(255, 226, 163);
    --terciario: #dfdfdf;

    --principal: #0c0d20;
    --secundario: #ffb951;
    --terciario: #fef8ec;


    --common: #616161;
    --uncommon: #4bafbd;
    --rare: #dd2a2a;
    --legendary: #f1e423;

    --tarjetas: #ffb34dcc;

    --mainFont: 'mainFont', sans-serif;
}