html,
body {
    background-color: var(--terciario);
}


.back {
    height: 9vh;
    width: 9vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(10vh, 80vh);
    z-index: 101;
    color: white;
    cursor: pointer;
    background-color: var(--secundario);
    border-radius: 50%;
    border: 6px solid var(--principal);
    text-decoration: none;
    transition: 0.4s;
}

.back:hover {
    height: 10vh;
    width: 10vh;
}


main {
    height: 100vh;
    width: 100%;
    background: rgb(12,13,32);
    background-image: linear-gradient(135deg, rgba(12,13,32,1) 0%, rgb(10, 10, 87) 100%);
    color: var(--terciario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

main h1 {
    width:60vmin;
}

main p{
    font-size: 4vmin;
    letter-spacing: 6px;
    cursor: default;
}

main p span {
    color: var(--secundario);
}


.contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, var(--secundario) 0%, rgb(100 73 32) 100%);
}

.contents h2 {
    margin-top: 8vmin;
    font-size: 4vmin;
    font-weight: lighter;
}