html,
body {
    background-color: var(--terciario);
}


.back {
    height: 9vh;
    width: 9vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(6vh, 80vh);
    z-index: 101;
    color: white;
    cursor: pointer;
    background-color: var(--secundario);
    border-radius: 50%;
    border: 6px solid var(--principal);
    text-decoration: none;
    transition: 0.4s;
}

.back:hover {
    height: 10vh;
    width: 10vh;
}


main {
    height: 100vh;
    width: 100%;
    background: rgb(12,13,32);
    background-image: linear-gradient(135deg, rgba(12,13,32,1) 0%, rgb(10, 10, 87) 100%);
    color: var(--terciario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

main h1 {
    width:60vmin;
}

main p{
    font-size: 4vmin;
    letter-spacing: 6px;
    cursor: default;
}

main p span {
    color: var(--secundario);
}


.contents {
    min-height: 100vh;
    height: auto;
    padding-bottom: 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, var(--secundario) 0%, rgb(187 135 56) 100%);
}

.contents h2 {
    margin: 8vmin 0;
    font-size: 6vmin;
    font-weight: lighter;
}

.entrada-main h3 {
    color: var(--secundario);
    margin: 8vmin 0 2vmin 0;
    font-size: 4vmin;
    font-weight: lighter;
}

.entrada-secundaria h3 {
    color: var(--principal);
    margin: 8vmin 0 2vmin 0;
    font-size: 4vmin;
    font-weight: lighter;
}

.entrada-main h4 {
    color: var(--secundario);
    margin: 8vmin 0 2vmin 0;
    font-size: 2vmin;
    font-weight: lighter;
}

.entrada-secundaria h4 {
    color: var(--principal);
    margin: 8vmin 0 2vmin 0;
    font-size: 2vmin;
    font-weight: lighter;
}


.entrada {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10vmin;
}

.entrada-main {
    background: rgb(12,13,32);
    background-image: linear-gradient(135deg, rgba(12,13,32,1) 0%, rgb(10, 10, 87) 100%);
}

.entrada-secundaria {
    background: rgb(12,13,32);
    background-image: linear-gradient(135deg, var(--secundario) 0%, rgb(187 135 56) 100%);
}

.entrada-main h2 {
    text-align: center;
    color: var(--secundario);
    margin: 8vmin 0;
    font-size: 6vmin;
    font-weight: lighter;
}

.entrada-secundaria h2 {
    text-align: center;
    color: var(--principal);
    margin: 8vmin 0;
    font-size: 6vmin;
    font-weight: lighter;
}

.entrada p {
    color: var(--terciario);
    font-size: 2vmin;
    line-height: 4vmin;
    letter-spacing: 2px;
    font-weight: lighter;
}

ol {
    width: 100%;
    font-size: 2vmin;
}

ol li a{
    color: var(--terciario);
    font-size: 2.4vmin;
}

.layer-one {
    margin-top: 3vmin;
}

.entrada-main ul li {
    color: var(--secundario);
    margin-bottom: 1vmin;
    font-size: 2vmin;
}

.entrada-secundaria ul li {
    color: var(--principal);
    margin-bottom: 1vmin;
    font-size: 2vmin;
}

.important {
    color: var(--principal);
}

.main-important {
    color: var(--secundario);
}