:root {
    --blanco: #EDF5E1;
    --verdeClaro: #8EE4AF;
    --verde: #5CDB95;
    --verdeOscuro: #379683;
    --azul: #05386B;
}


.contenedor {
    max-width: 80%;
    margin: auto auto;
}


.header {
    background-color: var(--verdeOscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #05386B;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    width: 40%;
    
}

.navegacion a{
    text-decoration: none;
    color: #05386B;
}