:root {
    --quinto: #85BB65;
    --cuarto: #323232;
    --blanco: #EDEADB;

    --primero: #75dddd;
    --segundo: #508991;
    --tercero: #172a3a;
    --cuarto: #004346;
    --quinto: #b3ffb3;
}

html {
    background-color: var(--tercero);
}

.contenedor {
    max-width: 80%;
    margin: 0 auto;
}



.fondo {
    background-color: var(--tercero);
}

.fondo::after {
    display: flex;
    content: "";
    border-top: .2rem solid var(--quinto);
    width: 95%;
    margin: 15px auto;
    transform: translateY(-1rem);
}

.header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
    height: 10vh;
    font-size: 20px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    width: 40%;
    
}

.navegacion a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
    transition: .2s;
}
.navegacion a:hover{
    transition: .3s;
    color: var(--quinto);
}



.text {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.text h2 {
    letter-spacing: 4px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--quinto);
}


.info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info h3{
    font-size: 100px;
    color: var(--blanco);
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.info p{
    color: var(--quinto);
    font-size: 35px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}


.assets {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.assets h4 {
    font-size: 60px;
    color: var(--blanco);
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.assets img {
    max-width: 100%;
    height: auto;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    position: relative;
    width: 320px;
    height: 550px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
}
.tarjeta:hover {
    background-color: var(--quinto);
    transition: .3s;
}


.tarjeta p{
    font-family: sans-serif;
    color: var(--quinto);
    font-size: 20px;
    transition: .3s;
    background-color: transparent;
}
.tarjeta:hover p {
    color: var(--cuarto);
    transition: .3s;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
}