:root {
    --blanco: #EDF5E1;
    --verdeClaro: #8EE4AF;
    --verde: #5CDB95;
    --verdeOscuro: #379683;
    --azul: #05386B;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}