/* Variables */

:root {
    
    --principal: #0c0d20;
    --secundario: #ffb951;
    --terciario: #fef8ec;

    --bg-principal: linear-gradient(135deg, rgba(12,13,32,1) 0%, rgb(10, 10, 87) 100%);
    --bg-secundario: linear-gradient(135deg, var(--secundario) 0%, rgb(187 135 56) 100%);

    --common: #616161;
    --uncommon: #4bafbd;
    --rare: #dd2a2a;
    --legendary: #f1e423;

    --tarjetas: #ffb34dcc;

    --mainFont: 'mainFont', sans-serif;

    --input-color: #e1e5ee;
    --input-color-hover: #999999;
    --input-color-focus: #474747;
}