/* Header */
.top {
    width: 100%;
} 

.header {
    display: grid;
    height: 8vh;
    color: var(--secundario);
    letter-spacing: 0.5vmin;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.header .halfColor {
    color: var(--terciario);
}


.header h1 {
    text-align: start;
}

.navegacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    text-align: center;
}
.navegacion a{
    position: relative;
    text-decoration: none;
    color: var(--terciario);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: var(--mainFont);
    transition: .2s;
    cursor: pointer;
}
.navegacion a:last-of-type{
    margin-right: 0;
}
.navegacion a:after {
    content: "";
    position: absolute;
    background-image: var(--bg-secundario);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navegacion a:hover{
    color: var(--terciario);
    transition: .5s;
}
.navegacion a:hover::after {
    width: 100%;
    transition: 0.3s;
    left: 0;
    bottom: -10px;
    color: var(--terciario);
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: var(--terciario);
}

.fa-clone {
    cursor: pointer;
    font-size: 1.6vmin;
    z-index: 100;
    margin-left: 1.6vmin;
    color: var(--secundario);
}

.navegacion .selectedA {
    color: var(--secundario);
    cursor: default;
}
.navegacion .selectedA:hover::after {
    width: 0%;
}
.navegacion .selectedA:hover {
    color: var(--secundario);
}

/* Login */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    height: 92vh;
    color: var(--terciario);
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.loginText {
    margin-bottom: 5vmin;
    font-size: 4vmin;
}

.login .loginMetaText {
    font-size: 2vmin;
}

/* Social Override */
.social {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translate(-80%, -50%);
    height: 100vh;
    display: flex;
    flex-direction: center;
    margin-right: 10vmin;
}

.social a {
    cursor: pointer;
    height: 2vh;
}

.social a:hover {
    transform: translate(10vmin, 0);
}

.social a i {
    margin-left: 3vmin;
    margin-right: 0.8vmin;
    color: var(--secundario);
}

.social a:hover:nth-child(1) i {
    color: var(--secundario);
}

.social a:hover:nth-child(2) i {
    color: var(--secundario);
}

.social a:hover:nth-child(3) i {
    color: var(--secundario);
}

.social a:hover:nth-child(4) i {
    color: var(--secundario);
}

/* Slots Menu */
.slots {
    min-height: 100vh;
    background-color: var(--secundario);
    color: var(--principal);
    width: 100%;
}
.slots h2 {
    text-align: center;
    font-size: 4vmin;
    padding: 40px 0;
    margin: 0;
    color: var(--principal);
}

#slots {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
    gap: 100px 0;
    padding: 8vmin 0;
}
.slot,
.slotStructure {
    width: 50vmin;
    margin: auto auto;
    height: 100%;
    min-height: 65vh;
    display: grid;
    color: var(--terciario);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.slotStructure {
    background-color: transparent;
}

.slot h3{
    text-align: center;
    font-size: 3vmin;
}
.slot p{
    text-align: center;
    font-size: 2vmin;
    font-weight: lighter;
}
.slot a{
    margin: 10px 0;
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.8vmin;
    text-align: center;
}


/* Buildings Menu */
.building,
.buildingStructure {
    width: 50vmin;
    margin: auto auto;
    height: 100%;
    display: grid;
    color: var(--terciario);
    border-radius: 50px;
}

.building h3{
    text-align: center;
    font-size: 3vmin;
}
.building p{
    text-align: center;
    font-size: 2vmin;
    font-weight: lighter;
}
.building a{
    margin: 10px 0;
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.8vmin;
    text-align: center;
}

.group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: var(--bg-principal);
}

.group h3 {
    margin-top: 1vmin;
}

.group .production{
    margin-bottom: 1vmin;
}

.addBuilding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(178 129 57);
}

.addSlot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addBuilding h3, .addSlot h3 {
    margin-bottom: 4vmin;
}

.addBuilding i, .addSlot i {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 4vmin;
    padding: 3vmin;
    border-radius: 50%;
    cursor: pointer;
}

/* Buildings Buttons */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons a {
    cursor: pointer;
}


/* Shop Buttons Override */
.boton {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--terciario);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s; 
    background-image: var(--bg-principal); 
    text-align: center;
}

.boton:hover {
    background-image: var(--bg-secundario);
    box-shadow: 0 0 80px 1px var(--secundario);
    transition-delay: 0s;
    cursor: pointer;
}

.price {
    font-size: 1.8vmin;
}


/* Marketplace Menu */
.marketplace {
    min-height: 100vh;
    background-color: var(--secundario);
    color: var(--principal);
    width: 100%;
}
.marketplace h2 {
    text-align: center;
    font-size: 4vmin;
    padding: 40px 0;
    margin: 0;
    color: var(--principal);
}

/* Menus Buttons */
.LoginButton{
    color:var(--principal);
    text-decoration: none;
    background-color: var(--principal);
    transition: .2;
    padding: 15px 25px;
    font-size: 1.5vmin;
    font-weight: lighter;
    border: var(--principal) 0px solid;
    width: 32vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 25px;
}

.LoginButton:hover {
    cursor: pointer;
}

.LoginButton img {
    max-width: 6vmin;
}

.LoginButton p {
    color: var(--terciario);
    font-size: 2vmin;
}

/* Menus */
.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40vh;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    color: var(--secundario);
    z-index: 10;
}
.menu h2{
    font-size: 3vmin;
}

.inventory {
    width: 80%;
    min-height: 80vh;
    height: 80%;
    overflow: scroll;
}

#buildings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vmin;
}


/* Transfer PupUp */

.blurBg {
    position: fixed;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
}

.addressToInput {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%;
}

.invisible {
    display: none;
}

.cross{
    color: var(--terciario);
    position: absolute;
    font-size: 3vmin;
    right: 5%;
    top: 3%;
    cursor: pointer;
}


#addressTo {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 20px;
    letter-spacing: 2px;
}
#addressTo::placeholder {
    color: transparent;
}
#addressTo:placeholder-shown ~ .inputLabel {
    cursor: text;
    top: 20px;
}
.inputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 2.2vmin;
    color: var(--secundario);
}
#addressTo:focus {
    padding: 6px 0;
    font-weight: lighter;
    border-width: 3px;
    color: var(--terciario);
    border-image-slice: 1;
}
#addressTo:focus ~ .inputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--secundario);
    font-weight: 700;
}
#addressTo:required, #addressTo:invalid {
    box-shadow: none;
}


/* Rareness Colors */
.Common {
    color: var(--common);
}

.Uncommon {
    color: var(--uncommon);
}

.Rare {
    color: var(--rare);
}

.Legendary {
    color: var(--legendary);
}

.CommonType {
    border: 0.6vmin solid var(--common) ;
    border-radius: 50px;
}

.UncommonType {
    border: 0.6vmin solid var(--uncommon) ;
    border-radius: 50px;
}

.RareType {
    border: 0.6vmin solid var(--rare) ;
    border-radius: 50px;
}

.LegendaryType {
    border: 0.6vmin solid var(--legendary) ;
    border-radius: 50px;
}


.building .production {
    text-align: end;
    margin-right: 1vmin;
    font-size: 1.6vmin;
}

.group .producted {
    text-align: center;
    font-size: 1.6vmin;
    margin: 2vmin 0;
}

.building, .slot {
    position: relative;
    z-index: 2;
}

.typeOfSlot {
    position: absolute;
    bottom: -6%;
    width: 100%;
    background-color: black;
    height: 20%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.typeOfSlot p {
    font-size: 1.6vmin;
    margin-bottom: 0.5vmin;
}
.slot .group {
    background-image: none;
}

.invBuildingType {
    margin: 0 auto;
}
.invBuildingType img {
    width: 30vmin;
}

.invBuilding {
    width: auto;
}
.invMenu {
    justify-content: start;
}
.invMenu h2 {
    padding: 3vmin 0;
}

.buildingFooter {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vmin;
}

.buildingFooterInv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buildingFooterInv a {
    background-image: var(--bg-secundario);
}

.buildingFooter .buildingInfoBtn, .buildingFooter .useBuilding {
    margin: 0vmin 0vmin 2vmin 2vmin;
    background-image: var(--bg-secundario);
}

.buildingFooter #claimBtn {
    background-image: var(--bg-secundario);
    margin: 0 1vmin;
}